<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">HOME</a>
			<a ng-class="{'selected' : currentLng('en')}" ng-click="changeLng('en')" class="navbar-brand"><img src="img/en.jpg"/></a>
			<a ng-class="{'selected' : currentLng('uk')}" ng-click="changeLng('uk')" class="navbar-brand last"><img src="img/uk.jpg"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li><a href="#/technology">Technology</a></li>
				<li><a href="#/technology">Technology</a></li>
			</ul>
		</div>
	</div>
	<i class="fa fa-search"></i>
	<input type="text" placeholder="search" />
</nav>